@font-face{
    font-family: 'Raleway-Regular';
    src: url(/Documents/Police/Raleway/static/Raleway-Regular.ttf) format("truetype");
}
body{
    /*Variables color*/
    --first-color:#F2F2F2;      /*Gris*/
    --second-color:#0065FC;     /*Bleu F*/
    --second-color-alt:#DEEBFF; /*Bleu C*/
    /*-------------------*/
    margin: 0px; 
    background-color: white;  
    font-family: 'Raleway-Regular', serif;   
}


/*Header*/
#logo{
    border: 1px solid;
    width: 25%;
    height: auto;
}

.list-sidenav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list-sidenav li{
    display: inline;
    border: solid 1px;
}



/*Section*/
.plein{
    color: var(--second-color);
}
.vide{
    color: var(--second-color-alt);
}
.prix{
    font-weight: bold;
}
#populaire h1, #hebergement h1, #activites h1, #more_link{
    margin-bottom: 5px;
    padding-left: 10px;
    
}
    /*Populaire*/
    
    #populaire{
        border: none 1px;
        height: 600px;
        background-color: var(--first-color);
        
    }
    .pop_card{
        display: flex;
        flex-direction: column;
        
    }
    .pop{
        border: solid 1px;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        height: 145px;
        margin: 15px;
        background-color: white;
    }
    .pop_img{
        width: 37%;
        margin: 5px;
        border-radius: 10px 0px 0px 10px;
    }
    .pop_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .pop_info h2{
        font-size: 19px;
        margin-bottom: -5px;
    }
    .pop_info p{
        font-size: 15px;

    }
    .pop_link{
        color: black;
        text-decoration: none;
    } 

        /*Morning_sun*/
        
        

        /*Heart_water*/
        

        /*Bleu_white*/
        
    /*Hebergement*/
    .heberg{
        border: 1px none;
        border-radius: 10px;
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    
    
    .heberg img{
        border-radius: 10px 10px 0px 0px;
        width: 97%;
        height: 115px;
        margin: 5px 5px 0px 5px;
    }
    .heberg_info{
        margin: -10px 0px 0px 10px;
        
    }
    .heberg_info h2 {
        font-size: 19px;
        margin: 10px 0px 5px 0px;
    }
    .heberg_info p{
        font-size: 16px;
        margin: 0px 0px 5px 0px;
    }

    #more_link{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .heberg_link{
        color: black;
        text-decoration: none;
    }
    .heberg_link:hover > .heberg{
        border: 1px solid;
    }
    /*Activités*/
    .act{
        border: 1px solid;
        border-radius: 10px;
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-bottom: 5%;
        
    }
    .act img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 140px;
    }
    .act h2{
        font-size: 19px;
        margin-left: 15px;
    }
    .act_link{
        color: black;
        text-decoration: none;
    }

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--first-color);
}
footer div{
    padding-left: 10px;
}

footer div a {
    text-decoration: none;
    color: black;
    
}

footer div a:hover{
    text-decoration: underline;
}