@font-face{
    font-family: 'Raleway';
    src: url(/GhilesHallou_2_13052021/Documents/Police/Raleway/static/Raleway.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Raleway';
    src: url(/GhilesHallou_2_13052021/Documents/Police/Raleway/static/Raleway-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Raleway';
    src: url(/GhilesHallou_2_13052021/Documents/Police/Raleway/static/Raleway-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Raleway';
    src: url(/GhilesHallou_2_13052021/Documents/Police/Raleway/static/Raleway-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

body{
    /*Variables color*/
    --first-color:#F2F2F2;      /*Gris*/
    --second-color:#0065FC;     /*Bleu F*/
    --second-color-alt:#DEEBFF; /*Bleu C*/
    /*-------------------*/
    margin: 0px; 
    background-color: white;  
    font-family: 'Raleway', serif;   
}


/*Header*/
.menu_fixe{
    background-color: white;
    width: 100%;
}

.fst_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    border: 2px none;
    width: 25%;
    height: auto;
    padding-left: 10px;
}
#sign_in{
    border: 1px black none;
    padding-top: 20px;
    height: 40px;
    width: 35%;
    text-align: center;
    color: var(--second-color);
    font-weight: bold;
    text-decoration: none;
}
#sign_in:hover{
    border-bottom: var(--second-color) 2.5px solid;
    margin-bottom: -2.5px;
}

.list-sidenav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-inline-start: 00px;
    
}
.list-sidenav li{
    display: inline;
    border: none 1px;
}
#heberg_list, #act_list{
    width: 50%;
    text-align: center;
    border: none 1px;
    height: 35px;
    padding-top: 15px;
    
    font-weight: bold;
}
#heberg_list a, #act_list a{
    text-decoration: none;
    color: black;
}
#heberg_list:hover, #act_list:hover{
    border-bottom: var(--second-color) 2.5px solid;
    margin-bottom: -2.5px;
    color: var(--second-color);
}
#heberg_list:hover a, #act_list:hover a{
    color: var(--second-color);
}

.cc, .title_filtre{
    margin-bottom: 10px;
    padding-left: 25px;
    
}

#search{
    display: flex;
    border: 1px none;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    
}
#btn_search_M{
    background-image: url(/GhilesHallou_2_13052021/Documents/images/Icon/magnifying-glass.svg);
    background-position: center;
    background-color: var(--second-color);
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 46px;
    width: 45px;
    border: none;
    
}
#btn_search_D{
    background-color: var(--second-color);
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 46px;
    width: 29%;
    vertical-align: bottom;
    border: none;
}

#btn_map{
   
    background-image: url(/GhilesHallou_2_13052021/Documents/images/Icon/map-marker-alt-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    height: 46px;
    background-color: var(--first-color);
    border: none;
    width: 40px;
    border-radius: 10px 0px 0px 10px;

    
}

#champ_search{
    height: 39px;
    width: 150px;
    margin-left: -5px;
    margin-right: -5px;
    font-weight: bold;
    font-size: 17px;
}

.filtre .fas{
    color: var(--second-color);
    border: 1px none;
    padding: 20px;
    border-radius: 200px;
    background-color: var(--second-color-alt);
    
}
.filtre_btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn-eco, .btn-fam, .btn-love, .btn-pets{
    margin: 3px;
    border-radius: 200px;
    font-weight: bold;
    border: 2px solid var(--first-color);
}
.btn-eco, .btn-love{
    width: 175px;
    
}
.btn-fam{
    width: 135px;
}
.btn-pets{
    width: 225px;
}
.btn-eco:hover, .btn-fam:hover, .btn-love:hover, .btn-pets:hover{
    border: 2px solid var(--second-color);
    margin: 3px;
}
input[type=checkbox]{
    display: none;
}
#eco:checked ~ .btn-eco, #fam:checked ~ .btn-fam, #love:checked ~ .btn-love, #pets:checked ~ .btn-pets{
    background-color: var(--second-color);
    color: var(--second-color-alt);
}

#search_info{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.fa-info{
    color: var(--second-color);
    position: relative;
    left: 2%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--second-color-alt) ;
    margin-right: -35px;
    z-index: 5;
    background-color: white;
    border: solid 1px;
    height: 10px;
    padding-top: 7px ;
    margin-top: 10px;
}
#search_info_txt{
    position: relative;
    left: 15%;
    width: 85%;
    border: 1px none;
    overflow: hidden;
}

/*Section*/
.plein{
    color: var(--second-color);
}
.vide{
    color: var(--second-color-alt);
}
.prix{
    font-weight: bold;
}
#populaire h1, #hebergement h1, #activites h1, #more_link{
    margin-bottom: 10px;
    padding-left: 25px;
    
}
    /*Populaire*/
    
    #populaire{
        border: none 1px;
        height: 600px;
        background-color: var(--first-color);
        padding-top: 1px;
        
    }
    #pop_head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fa-chart-line{
        position: relative;
        right: 40px;
        top: 30px;
    }
    .pop_card{
        display: flex;
        flex-direction: column;
        
    }
    .pop{
        border: none 1px;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        height: 145px;
        margin: 15px;
        background-color: white;
        box-shadow: 1px 1px 10px rgb(200, 200, 200);
        
    }
    .pop_img{
        width: 37%;
        margin: 5px;
        border-radius: 10px 0px 0px 10px;
        object-fit: cover;
    }
    .pop_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .pop_info h2{
        font-size: 20px;
        margin-bottom: -5px;
    }
    .pop_info p{
        font-size: 15px;

    }
    .pop_link{
        color: black;
        text-decoration: none;
        
    } 
    .pop_link:hover > .pop{
        box-shadow: 1px 1px 10px rgb(0, 0, 0);
    }

        /*Morning_sun*/
        
        

        /*Heart_water*/
        

        /*Bleu_white*/
        
    /*Hebergement*/
    .heberg{
        border: 1px none;
        border-radius: 10px;
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-bottom: 5%;
        box-shadow: 1px 1px 10px rgb(200, 200, 200);
    }
    
    
    .heberg img{
        border-radius: 10px 10px 0px 0px;
        width: 97%;
        height: 115px;
        margin: 5px 5px 0px 5px;
        object-fit: cover;
    }
    .heberg_info{
        margin: -10px 0px 0px 10px;
        
    }
    .heberg_info h2 {
        font-size: 19px;
        margin: 10px 0px 5px 0px;
    }
    .heberg_info p{
        font-size: 16px;
        margin: 0px 0px 5px 0px;
    }

    #more_link{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .heberg_link{
        color: black;
        text-decoration: none;
    }
    .heberg_link:hover > .heberg{
        box-shadow: 1px 1px 10px rgb(0, 0, 0);
    }
    /*Activités*/
    .act{
        border: 1px none;
        border-radius: 10px;
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-bottom: 5%;
        box-shadow: 1px 1px 10px rgb(200, 200, 200);
    }
    .act img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
    .act h2{
        font-size: 19px;
        margin-left: 15px;
    }
    .act_link{
        color: black;
        text-decoration: none;
    }
    .act_link:hover > .act{
        box-shadow: 1px 1px 10px rgb(0, 0, 0);
    }

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--first-color);
}
footer div{
    padding-left: 10px;
}

footer div a {
    text-decoration: none;
    color: black;
    
}

footer div a:hover, #more_link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 325px){           /*Mobile*/
    #btn_search{
        width: 28%;
    }
    .fa-chart-line{
        position: relative;
        right: 30px;
        top: 30px;
    }
}

@media screen and (max-width: 767px){
    #btn_search_D{
        display: none;
    }
}
/*Tablette*/
@media screen and (min-width: 768px){           
    .fa-info{
        left: 5%;
    }
    #search_info_txt{
        left: 10%;        
    }
    #btn_search_M{
        display: none;
    }
    
    #hebergement{
        width: 100%;
        border: 1px none;
    }
    .heberg_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 25px;
        
    }
    .heberg_card a{
        width: 33%;
        
    }

    .act_card{
        display: flex;
        flex-direction: row;
    }
    .act h2{
        font-size: 18px;
    }

    #port, #calanques{
        height: 450px;

    }
    #port_img{
        height: 390px;
        object-fit: none;
        object-position: -125px;
    }
    #calanques_img{
        height: 390px;
        object-fit: none;
        object-position: -60px;
    }

    #fort{
        height: 240px;
    }
    #fort_img{
        height: 180px;
        object-fit: cover;
    }

    #iles{
        height: 170px;
        margin-top: 38px;
    }
    #iles_img{
        height: 110px;
        object-fit: cover;
    }

    #notre-dame{
        height: 200px;
    }
    #notre-dame_img{
        height: 140px;
        object-fit: cover;
        
    }
    #longchamp{
        height: 213px;
        margin-top: 35px;
    }
    #longchamp_img{
        height: 153px;
        object-fit: cover;
    }


    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}



@media screen and (min-width: 1024px){           /*Desktop*/
    /*Header*/
    #logo{
        width: 10%;
    }
    #sign_in{
        width: 11.25%;
    }
    #heberg_list, #act_list{
        width: 11.25%;
        position: absolute;
        height: 40px;
    }
    #heberg_list{
        top: 0px;
        padding-top: 22.5px;
        right: 22.50%;
    }
    #act_list{
        top: 0px;
        padding-top: 22.5px;
        right: 11.25%;
    }
    #heberg_list:hover, #act_list:hover, #sign_in:hover{
        border-bottom: var(--second-color) 2.5px none;
        border-top: var(--second-color) 2.5px solid;
        color: var(--second-color);
    }
    #heberg_list:hover, #act_list:hover{
        margin-top: 0px;
        padding-top: 20px;
    }
    
    .fa-info{
        left: 2%;
    }
    #search_info_txt{
        left: 5%;        
    }
    .filtre{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }
    /*Section*/
    #activites h1{
        padding-left: 50px;
    }
    .fa-chart-line{
        position: relative;
        right: 30px;
        top: 30px;
    }
    .heberg_pop{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 20px;
    }
    #hebergement{
        width: 65%;
        border: 1px none;
        border-radius: 10px;
        background-color: var(--first-color);
    }
    .heberg_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 25px;
        
    }
    .heberg_card a{
        width: 33%;
        
    }
    .heberg{
        background-color: white;
    }
    .heberg_info h2 {
        font-size: 16px;
        margin: 10px 0px 5px 0px;
    }
    #populaire{
        width: 30%;
        border-radius: 10px;
    }
    .pop_info h2{
        font-size: 18px;
        margin-bottom: -5px;
    }

    .act_card{
        display: flex;
        flex-direction: row;
    }
    .act_link article{
        border: 1px none;
    }
    #port, #calanques{
        height: 450px;
    }
    #port_img, #calanques_img{
        height: 390px;
    }

    #fort{
        height: 240px;
    }
    #fort_img{
        height: 180px;
    }

    #iles{
        height: 170px;
        margin-top: 38px;
    }
    #iles_img{
        height: 110px;
    }

    #notre-dame{
        height: 200px;
    }
    #notre-dame_img{
        height: 140px;
    }
    #longchamp{
        height: 213px;
        margin-top: 35px;
    }
    #longchamp_img{
        height: 153px;
    }


    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    @media screen and (max-width: 1439px){           /*Laptop*/
        .heberg_info h2{
            font-size: 15px;
        }
        .act h2{
            font-size: 18px;
        }
        .fa-info{
            left: 2%;
        }
        #search_info_txt{
            left: 6%;        
        }
    }
    @media screen and (min-width: 2560px){           /*Desktop 4K*/
    
    }
}


