@font-face{
    font-family: 'Raleway-Regular';
    src: url(/Documents/Police/Raleway/static/Raleway-Regular.ttf) format("truetype");
}
body{
    /*Variables color*/
    --first-color:#F2F2F2;      /*Gris*/
    --second-color:#0065FC;     /*Bleu F*/
    --second-color-alt:#DEEBFF; /*Bleu C*/
    /*-------------------*/
    margin: 0px; 
    background-color: white;  
    font-family: 'Raleway-Regular', serif;   
}


/*Header*/
.menu_fixe{
    background-color: white;
    width: 100%;
}
.fst_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    border: 1px none;
    width: 25%;
    height: auto;
    padding-left: 10px;
}
#sign_in{
    border: 1px black none;
    padding-top: 20px;
    height: 40px;
    width: 35%;
    text-align: center;
    color: var(--second-color);
    font-weight: bold;
    text-decoration: none;
}
#sign_in:hover{
    border-bottom: var(--second-color) 2.5px solid;
    margin-bottom: -2.5px;
}

.list-sidenav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-inline-start: 00px;
    
}
.list-sidenav li{
    display: inline;
    border: none 1px;
}
#heberg_list, #act_list{
    width: 50%;
    text-align: center;
    border: none 1px;
    height: 35px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#heberg_list:hover, #act_list:hover{
    border-bottom: var(--second-color) 2.5px solid;
    color: var(--second-color);
    margin-bottom: -2.5px;
}
.cc, .title_filtre{
    margin-bottom: 10px;
    padding-left: 25px;
    
}

#search{
    display: flex;
    border: 1px none;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    
}
#btn_search{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 56px;
    
    vertical-align: bottom;
    border: none;
}

#btn_map{
   
    background-image: url(/Documents/images/Icon/map-marker-alt-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    height: 56px;
    background-color: #F2F2F2;
    border: none;
    width: 60px;
    border-radius: 10px 0px 0px 10px;

    
}

#champ_search{
    height: 50px;
    width: 150px;
    margin-left: -5px;
    margin-right: -5px;
    font-weight: bold;
    font-size: 17px;
}
.filtre .fas{
    color: var(--second-color);
    border: 1px none;
    padding: 20px;
    border-radius: 200px;
    background-color: var(--second-color-alt);
    
}
.filtre_btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn-eco, .btn-fam, .btn-love, .btn-pets{
    margin: 5px;
    border-radius: 200px;
    font-weight: bold;
}
.btn-eco, .btn-love{
    width: 175px;
    
}
.btn-fam{
    width: 135px;
}
.btn-pets{
    width: 225px;
}
.btn-eco:hover, .btn-fam:hover, .btn-love:hover, .btn-pets:hover{
    border: 2px solid var(--second-color);
    margin: 3px;
}
input[type=checkbox]{
    display: none;
}
#eco:checked ~ .btn-eco, #fam:checked ~ .btn-fam, #love:checked ~ .btn-love, #pets:checked ~ .btn-pets{
    background-color: var(--second-color);
    color: var(--second-color-alt);
}



/*Section*/
.plein{
    color: var(--second-color);
}
.vide{
    color: var(--second-color-alt);
}
.prix{
    font-weight: bold;
}
#populaire h1, #hebergement h1, #activites h1, #more_link{
    margin-bottom: 10px;
    padding-left: 25px;
    
}
    /*Populaire*/
    
    #populaire{
        border: none 1px;
        height: 600px;
        background-color: var(--first-color);
        padding-top: 1px;
        
    }
    .pop_card{
        display: flex;
        flex-direction: column;
        
    }
    .pop{
        border: none 1px;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        height: 145px;
        margin: 15px;
        background-color: white;
    }
    .pop_img{
        width: 37%;
        margin: 5px;
        border-radius: 10px 0px 0px 10px;
    }
    .pop_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .pop_info h2{
        font-size: 20px;
        margin-bottom: -5px;
    }
    .pop_info p{
        font-size: 15px;

    }
    .pop_link{
        color: black;
        text-decoration: none;
    } 
    .pop_link:hover > .pop{
        border: 1px solid;
    }

        /*Morning_sun*/
        
        

        /*Heart_water*/
        

        /*Bleu_white*/
        
    /*Hebergement*/
    .heberg{
        border: 1px none;
        border-radius: 10px;
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    
    
    .heberg img{
        border-radius: 10px 10px 0px 0px;
        width: 97%;
        height: 115px;
        margin: 5px 5px 0px 5px;
    }
    .heberg_info{
        margin: -10px 0px 0px 10px;
        
    }
    .heberg_info h2 {
        font-size: 19px;
        margin: 10px 0px 5px 0px;
    }
    .heberg_info p{
        font-size: 16px;
        margin: 0px 0px 5px 0px;
    }

    #more_link{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .heberg_link{
        color: black;
        text-decoration: none;
    }
    .heberg_link:hover > .heberg{
        border: 1px solid;
    }
    /*Activités*/
    .act{
        border: 1px none;
        border-radius: 10px;
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-bottom: 5%;
        
    }
    .act img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 140px;
    }
    .act h2{
        font-size: 19px;
        margin-left: 15px;
    }
    .act_link{
        color: black;
        text-decoration: none;
    }
    .act_link:hover > .act{
        border: 1px solid black;
    }

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--first-color);
}
footer div{
    padding-left: 10px;
}

footer div a {
    text-decoration: none;
    color: black;
    
}

footer div a:hover, #more_link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 767px){           /*Mobile*/

}

/*      /*Tablette*'/
@media screen and (min-width: 768px && max-width: 1023px){           
    
}
*/


@media screen and (min-width: 1024px){           /*Desktop*/
    
    .heberg_pop{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    #hebergement{
        width: 70%;
        border: 1px solid;
    }
    .heberg_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .heberg_card a{
        width: 33%;
    }
    .heberg_info h2 {
        font-size: 16px;
        margin: 10px 0px 5px 0px;
    }
    #populaire{
        width: 30%;
    }

    @media screen and (max-width: 1439px){           /*Laptop*/

    }
    @media screen and (min-width: 2560px){           /*Desktop 4K*/

    }
}


